/* // first patient banner  */
section {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    background-color: #1f1f1f;
    height: 20vh;
  }
  
  .intro {
    height: 50vh;
  }
  
  .content {
    display: table-cell;
    vertical-align: middle;
  }
  
  .intro h1 {
    font-size: 3.4em;
    font-family: 'Raleway';
    display: block;
    color: white;
    font-weight: 300;
  }
  
  p {
    font-size: 1.4em;
    font-family: 'Raleway'; 
    color: #0e9119;
  }

  @media only screen and (max-width: 430px) {
  .intro h1 {
    font-size: 2.9em;
  }

  .intro p {
    font-size: 1.2em; 
  }
}

@media only screen and (max-width: 730px) {
  .intro h1 {
    font-size: 3em;
  }

  .intro p {
    font-size: 1.2em; 
  }
}
/* // end of first patient banner */

/* // ad section */
.ad-grid {
  border: 10px solid #fff;
  max-width: 1200;
  overflow: hidden;
  width: 100%;
}
.ad-grid .ad {
  border: 10px solid #fff;
  float: left;
  overflow: hidden;
}
.ad-grid .medium-6 {
  border-right: 20px solid #fff;
  width: 50%;
}
.ad-grid .medium-3 {
  width: 25%;
}
.ad-grid img {
  height: auto;
  width: 100%;
}

/* end of ad section  */
  