/* // search bar - zip code  */
.search-container{
    float: right;
    padding: 6px 20px;
    margin-top: -162px;
    font-size: 14px;
    border-radius: 20px; 
    cursor: pointer;
  }
  
  .search-container button {
    float: right;
    margin-right: 16px;
    margin-top: 2px; 
    font-size: 17px;
    border: none;
    background-color: white; 
    cursor: pointer;
  }
  /* // end of search bar - zip code  */

  @media only screen and (max-width: 430px) {
    .search-container {
      margin-top: -140px; 
      font-size: 10px; 
    }
    .search-container button {
      float: right;
      margin-right: 20px;
      margin-top: 1px; 
  }
}