

/* // Nav Bar //  */
.Navbar {
  background-color: white;
  margin-top: 2px; 
  margin-left: 15px; 
  display: flex;
  padding: .7em;
  font: 15px Raleway;
  color: rgb(0, 0, 0);
}

.Navbar__Items--center {
  display: flex;
  padding: 15px; 
  justify-content: space-between;

}

#logo-main {
  margin-top: 20px; 
}

.Navbar__Links { 
  font: 15px Raleway;
  color: rgb(0, 0, 0);
  letter-spacing: .1em; 
  margin: auto; 
}

.Navbar__Links:hover {
  color: rgb(167, 167, 167); 
  cursor: pointer; 
}

.Navbar__Link-toggle {
  display: none;
}

.fa-bars {
  font-size: 48px; 
  color: rgb(54, 54, 54); 
}

#menu {
  font: 13.5px Raleway;
}

#STnav:hover {
  color: rgb(167, 167, 167); 
}

.fa-search {
  color: rgb(165, 165, 165); 
  font-size: 18px; 
}
/* // End of Nav Bar //  */

/* // Mobile Nav Bar Settings */
@media only screen and (max-width: 1350px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
    font-size: 18px; 
  }

  .Navbar__Links {
    padding: 2px; 
  }
    
.Navbar__Items {
    display:none;
    background-color: rgb(245, 243, 243); 
    margin-bottom: 5px; 
  }
    
.Navbar__ToggleShow {
    display: flex;
  }
    
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    padding-right: 8px;
   } 
}

@media only screen and (max-width: 430px) {
  /* #logo-main {
    width: 102px; 
  } */

  .fa-bars {
    font-size: 40px; 
  }
  
  #menu {
    font: 10.5px Raleway;
  }
}
/* // End of Mobile Nav Bar Settings // 


/* // Doctors & Dispensaries Text Next to Logo */
:root {
  /*  Basic style settings  */


  /*  delay to all animations  */
  --delay: 0.3s;

  /*  Logo animation  */
  --slide-left-duration: 1s;
  --slide-left-delay: calc(var(--delay) + -0.3s);
  --slide-left-percent: 30%;

  /* Seperator (Pipe) animation   */
  --fade-duration: 1s;
  --fade-delay: calc(var(--delay) + 0.25s);

  /*  Slogan animation  */
  --slide-right-duration: 0.85s;
  --slide-right-delay: calc(var(--delay) + 0.25s);

  /*  Bottom boder animation  */
  --border-duration: 0.5s;
  --border-delay: calc(var(--delay) + 0.75s);
}

* {
  box-sizing: border-box;
}
span {
  display: inline-block;
  font-size: 1.8rem;
  overflow: hidden;
}

.slogan {
  margin-left: 10px;
  margin-top: 60px;
  font-family: 'Raleway';
  font-size: 35px; 
}

.slogan.animate {
  animation: slide-right var(--slide-right-duration) var(--slide-right-delay)
    both cubic-bezier(0.2, 0, 0.2, 1);
}

.box {
  display: flex;
  padding: 5px 2px;
  border-bottom: 1px solid transparent;
}

.box.animate {
  animation: bottom-border var(--border-duration) var(--border-delay) both
    linear;
}

.logo.animate {
  animation: slide-left var(--slide-left-duration) var(--slide-left-delay) both
    cubic-bezier(0.2, 0, 0.2, 1);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(var(--slide-left-percent));
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
/* // End of Doctors & Dispensaries Text Next to Logo */

/* // Doctors & Dispensaries Text Next to Logo Mobile Settings */

@media only screen and (max-width: 430px) {
  .slogan {
    font-size: 25px; 
    margin-left: 40px; 
    margin-top: 20px;
  }
}

@media only screen and (max-width: 730px) {
.slogan {
  font-size: 29px; 
  margin-top: 58px;
  } 
}
/* // End of Doctors & Dispensaries Text Next to Logo Mobile Settings */

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #1f1f1f;
  height: 20vh;
}

.intro {
  height: 50vh;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

.intro h1 {
  font-size: 3em;
  font-family: 'Raleway';
  display: block;
  color: white;
  font-weight: 300;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  color: #0e9119;
}


/* // Split Landing Page - Patient / Doctor sections */
.container {
  margin-top: 11px; 
  display: flex;
  height: 65vh;
  width: 100vw;
}

.split-section {
  height: 100%;
  color: white; 
  width: 100%;
  position: relative;
  transition: all 1s;
}

#split-1 {
  background-color: #0e7216;
}

#split-2 {
  /* background-color: #1e4cb1;  */
  background-color: #1f1f1f;
}

.split-heading {
  text-transform: uppercase;
  margin-bottom: 35px;
}

.split-heading-main {
  display: block;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 7px
}

.split-heading-sub {
  font-family: 'Raleway';
  font-weight: 200;
  font-size: 40px;
  letter-spacing: 9px;
}

.split-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 75%;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 7px 20px;
  transition: all .5s;
  position: relative;
}

.btn:hover {
  padding: 7px 40px;
}

.btn-outline-white {
  border: 3px white solid;
}

.split-section:hover {
  width: 150%;
  z-index: 1;
}
.btn-outline-white:hover {
  background-color: #fff;
  color: #000;
}
/* // End of Split Landing Page - Patient / Doctor sections */

/* Split Landing Page - Patient / Doctor sections mobile settings  */
@media only screen and (max-width: 430px) {
  .split-heading-sub {
    font-size: 18px;
    letter-spacing: 4px;
    }

  .btn {
    font-size: 12px;
  }
  }

@media only screen and (max-width: 730px) {
.split-heading-sub {
  font-size: 30px;
  }
}
/* End of Split Landing Page - Patient / Doctor sections mobile settings  */


