.wrapper {
    margin-top: 5px;
    padding: 60px;
    margin-bottom: 80px;
    background-color: rgb(240, 240, 240); 
  }
  
  .form-signing {
    max-width: 490px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #2e2e2e;
    opacity: none; 
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .form-signing-heading {
      margin-top: 10px; 
      font-size: 27px; 
      color: white;
      text-align: center; 
  }
  
  .form-signing-heading,
  .checkbox {
    margin-bottom: 20px;
    color: white; 
  }
  
  .checkbox {
    font-weight: normal;
    margin-top: 10px; 
  }
  
  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-control:focus {
    z-index: 2;
  }
  
  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  input[type="password"] {
    margin-bottom: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .btn-block {
    padding: 5px; 
  }
.btn-block:hover {
    padding: 5px;
}

.form-signing-sub-heading {
  color: white; 
  margin-bottom: 10px; 
}





